#sliderContainer { /*entire slider container*/
    width: 100%;
    position: relative;
}

#picContainer {
    width: 60%;    /*sets the max size of pics*/
    margin: 0 auto;
}

.slides {
    width: 100%;
}

#navLeft {
    font-size: 70px;
}

#prev {
    position: absolute;
    top: 35%;
    left: 15%;
}

#navRight {
    font-size: 70px;
}

#next {
    position: absolute;
    top: 35%;
    right: 15%;
}

.picInfoContainer {
    position: relative;
    display: none;
}

.slideInfo {
    text-align: center;

}

/*--------media break for slider-------*/
@media screen and (max-width: 950px) {
    #picContainer{
        width: 75%;
    }

    #prev {
        left: 5%;
    }

    #next {
        right: 5%;
    }
}

@media screen and (max-width: 640px) {
    #prev {
        left: 2%;
        top: 30%
    }

    #next {
        right: 2%;
        top: 30%;
    }
}

@media screen and (max-width: 500px) {
    #prev {
        left: 0;
    }

    #next {
        right: 0;
    }
}

@media screen and (max-width: 450px) {
    #navLeft, #navRight {
        font-size: 40px;
    }

}


